@font-face {
	font-family: 'FiraSans'; /* Имя шрифта */
	src: url(../fonts/FiraSans-Regular.ttf); /* Путь к файлу со шрифтом */
	font-weight: 400;
}
@font-face {
	font-family: 'FiraSans'; /* Имя шрифта */
	src: url(../fonts/FiraSans-Bold.ttf); /* Путь к файлу со шрифтом */
	font-weight: 700;
}
@font-face {
	font-family: 'FiraSans'; /* Имя шрифта */
	src: url(../fonts/FiraSans-Medium.ttf); /* Путь к файлу со шрифтом */
	font-weight: 500;
}
@font-face {
	font-family: 'FiraSans'; /* Имя шрифта */
	src: url(../fonts/FiraSans-Light.ttf); /* Путь к файлу со шрифтом */
	font-weight: 300;
}