@import './base/var.scss';

.content{
	border-top: 6px solid $blue;
	padding-top: 22px;
}
.double-img-parent {
	cursor: pointer;
}
.double-img img{
	display: none;
	margin-bottom: 35px;
}
.double-img img:first-child{
	display: block;
}
.double-img-parent:hover .double-img img{
	display: block;
}
.double-img-parent:hover .double-img img:first-child{
	display: none;
}
.double-img-parent > span{
	color: #5c5d5d;
	border-bottom: 1px solid transparent;
}
.double-img-parent:hover span{
	color: $blue;
	border-bottom: 1px solid $blue;
}
.catalog__left__item{
	border-bottom: 1px solid $grey2;
	padding-bottom: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
}

.catalog__left{
	width: 155px;
	margin-right: 60px;
}



.breadcrubm ul{
	display: flex;
	flex-wrap: wrap;
}
.breadcrubm{
	font-size: 12px;
	color: #bababa;
	width: 100%;
}
.breadcrubm a{
	text-decoration: underline;
	position: relative;
	margin-right: 10px;
	transition: 0.1s all;
}
.breadcrubm a:hover{
	color: #4e4e4e;
}
.breadcrubm a:after{
	content: "/";
	right: -8px;
	color: #bababa;
	position: absolute;
}

.catalog{
	display: flex;
	overflow: hidden;
}
.catalog h1{
	margin-top: 12px;
	width: 100%;
	display: block;
}
.catalog__right{
	flex: 1;
}

.catalog__wrap{
	display: flex;
	flex-wrap: wrap;
	margin-top: 55px;
}
.catalog__item{	
	width: calc(100% / 3);
	padding-right: 20px;
	margin-bottom: 65px;
}
.catalog__item__head img{
	margin: 0;
}
.catalog__item__head{
	height: 160px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.catalog__item__head .double-img{
	flex: 1;
	display: flex;
	align-items: center;
}
.catalog__item__head span{
	text-transform: uppercase;
	border-bottom: 1px solid $grey2;
}
.catalog__item__head:hover span{
	border-bottom: 1px solid transparent;
}
.catalog__item__list{
	padding-left: 15px;
}
.catalog__item__list li{
	position: relative;
	margin-bottom: 15px;
}
.catalog__item__list li:hover{
	color: $blue;
	text-decoration: underline;
}
.catalog__item__list li:before{
	content: "-";
	position: absolute;
	display: block;
	left: -15px;
	top: 50%;
	transform: translateY(-50%);
}


@media(max-width: 991px){
	.catalog{
		flex-direction: column;
	}
	.content{
		margin-top: 20px;
	}
	.catalog__left{
		width: 100%;
		margin: 0;
		display: flex;
		margin-top: 25px;
		margin-bottom: 50px;
	}
	.catalog__left .slick-list {
	    margin: 0 65px;
	    height: 130px;
	}
	.catalog__left__item{
		width: calc(100% / 5);
		text-align: center;
		padding: 10px 5px;
		margin: 0;
		border-bottom: 0;
		position: relative;
		border-right: 1px solid #bfbfbf;
	}
	.catalog__left__item img{
		margin: 0 auto;
		height: 50px;
		max-width: 100%;
	}
	.catalog__left__item span{
		font-size: 14px;
		position: absolute;
		bottom: -25px;
		padding: 0 5px;
		left: 0;
		width: 100%;
		transform: translateY(100%);
	}
	.catalog__item__list li{
		text-decoration: underline;
	}
}

@media(max-width: 767px){
	.catalog__item{
		width: calc(100% / 2);
	}
	.catalog__left .slick-list{
		margin: 0 35px;
	}
}

@media(max-width: 559px){
	.catalog__item{
		width: 100%;
		padding-right: 0;
	}

}


//каталог секция
.catalog__filter{
	border: 1px solid $grey2;
	display: flex;
	margin-bottom: 31px;
	margin-top: 31px;
}
.filter__item{
	height: 75px;
	
	width: calc(100% / 4);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.filter__item:after{
	content: "";
	position: absolute;
	display: block;
	width: 1px;
	right: -1px;
	top: 50%;
	transform: translateY(-50%);
	height: 49px;
	background-color: $grey2;
}
.filter__item.up:after{
	display: none;
}
.filter__item > span{
	text-align: left;
	display: flex;
	width: 100%;
	padding: 0 20px;
}
.filter__item a{
	display: flex;
	height: 100%;
	width: 100%;
	align-items: center;
	padding: 0 20px;
	justify-content: center;
}
.up-ar, .down-ar{
	margin-left: 5px;
}
.down-ar{
	position: relative;
	margin-bottom: -10px;
	
}	
.up-ar img:last-child{
	display: none;
}
.down-ar img:last-child{
	display: none;
}
.up .up-ar img{
	display: none;
}
.up .up-ar img:last-child{
	display: block;
}
.up{
	border: 3px solid $blue;
}

.down{
	border: 1px solid $blue;
}

.catalog__tovars{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -11px;
}

.tovar-item{
	width: calc(100% / 3 - 22px);
	margin: 0 11px;
	margin-bottom: 22px;
}
.pagination object{
	width: 14px;
	margin-left: 5px;
	text-decoration: underline;
}
.pagination{
	display: flex;
	justify-content: center;
	margin-top: 25px;
	align-items: center;
	margin-bottom: 25px;
}
.pagination ul{
	display: flex;
}
.pagination span{
	color: $grey;
	margin-right: 10px;
}
.pagination ul li{
	
	margin: 0 5px;
	text-align: center;
	line-height: 25px;
	text-decoration: underline;
}

.pagination ul li a{
	width: 25px;
	height: 25px;
	display: block;
}
.pagination ul li.active{
	background-color: $blue;
	text-decoration: none;
	color: #fff;
}

.pagination ul li.last a{
	display: flex;
	align-items: center;
	width: auto;
}
.pagination ul li.last a:after{
	content: "";
	width: 13px;
	height: 15px;
	display: block;
	background-image: url('../img/arrowimg.svg');
	background-size: cover;
	flex: 1;
	margin-left: 5px;
}

@media(max-width: 1199px){
	.tovar-item__action{
		padding: 0;
	}
	.tovar-item__action a object{
		margin-right: 10px;
	}
	.tovar-item__foto{
		height: 140px;
	}
}

@media(max-width: 991px){
	.tovar-item{
		width: calc(100% / 2 - 22px)
	}
	.tovar-item__action{
		padding: 0 40px;
	}
	.tovar-item__foto{
		height: 200px;
	}
	.tovar-item__action a{
		justify-content: center;
	}
}

@media(max-width: 767px){
	.tovar-item__action{
		padding: 0 0px;
	}
	.filter__item>span{
		padding: 0 0px;
	}
	
	.filter__item{
		height: 60px;
		font-size: 14px;
		width: calc(100% / 3);
		border: 1px solid $grey2;
	}

	.filter__item:first-child{
		width: 100%;
		border: 0;
	}
	.catalog__filter{
		flex-wrap: wrap;
		border: 0;
	}
	.up{
		border: 3px solid #067185;
	}
}

@media(max-width: 500px){
	.tovar-item{
		width: 100%;
	}
	.tovar-item__foto{
		height: 250px;
	}
	.tovar-item__action{
		padding: 0 40px;
	}
	.down-ar, .up-ar{
		margin-left: 0;
	}
	.up-ar{
		margin-left: 5px;
	}
}

@media(max-width: 424px){
	.filter__item{
		width: 50%;
	}
	.filter__item:last-child{
		width: 100%;
	}
	.tovar-item__foto{
		height: 215px;
	}
}

//товар
.tovar__top{
	margin-top: 50px;
}
.tovar__slider__top{
	margin-bottom: 15px;
}

.tovar__top__item{
	height: 350px;
	width: 100%;
	background-position: center;
	background-size: cover;
}
.tovar__bot__item{
	height: 60px;
	width: 60px;
	background-position: center;
	background-size: cover;
}
.tovar__sliders{
	width: 360px;
	margin-right: 50px;
}